@font-face {
    font-family: 'airbnb-black';
    src: url('../assets/fonts/Airbnb/AirbnbCereal_W_Bk.otf');
}

@font-face {
    font-family: 'airbnb-light';
    src: url('../assets/fonts/Airbnb/AirbnbCereal_W_Lt.otf');
}

@font-face {
    font-family: 'airbnb-bold';
    src: url('../assets/fonts/Airbnb/AirbnbCereal_W_Bd.otf');
}


body {
    padding: 0;
    margin: 0;
}

.topo {
    display: flex;
    height: 58px;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    font-size: 14px;
}

.topo--texto {
    color: #b3b3b3;
    cursor: pointer;
    text-decoration: underline;
    font-family: 'airbnb-light';
}

.topo--texto:hover {
    color: #898989;
}

.fundo {
    height: 820px;
    background-image: url('../assets/images/fundo.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.menu {
    display: flex;
    align-items: center;
    height: 80px;
}

.menu--flex {
    flex: 1;
}

.logo {
    display: flex;
    height: 40px;
    align-items: center;
    margin-left: 130px;
    cursor: pointer;
}

.menus {
    display: flex;
    justify-content: space-evenly;
}

.item--menu {
    font-family: 'airbnb-light';
    font-weight: 500;
    font-size: 17px;
}

.last--menu--item {
    display: flex;
    justify-content: center;
}

.menu--button {
    background: transparent;
    color: #222222;
    font-family: 'airbnb-light';
    font-size: 14px;
    font-weight: 600;
    padding: 12px 15px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
}

.menu--button:hover {
    background: #f7f7f7;
}

.material--icon {
    background: transparent;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    padding: 10px;
    color: #222222;
}

.material--icon:hover {
    background: #f7f7f7;

}

.icon--globe {
    font-size: 21px;
}

.button--icons {
    background: #ffffff;
    border: 0;
    cursor: pointer;
    padding: 2px 5px;
    color: gray;
    display: flex;
    align-items: center;
    margin-left: 15px;
    border-radius: 25px;
}

.icon--button {
    font-family: 'Material Icons';
    font-size: 33px !important;
}

.icon--button--menu {
    font-family: 'Material Icons';
    font-size: 20px !important;
    margin-right: 10px;
    margin-left: 5px;
}

.buscas {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.div--buscar {
    display: flex;
    height: 100%;
    background: white;
    width: 44%;
    border-radius: 50px;
    align-items: center;
    overflow: hidden;
    border: 1px solid #cccccc;
}

.item--buscar {
    flex: 1;
    /* padrão: todos ocupam 1 parte */
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.item--buscar--1 {
    flex: 2;
    display: flex;
    margin-left: 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.item--buscar--4 {
    flex: 2;
    padding-left: 20px;
    padding-right: 10px;

}

.items--4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* Adicione esta linha */
    width: 100%;
}

.item--buscar:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.buscar--1 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.loc--item {
    font-size: 14px;
    font-family: 'airbnb-light';
}

.loc--desc {
    font-family: 'airbnb-light';
    color: #898989;
    font-size: 16px;
    font-weight: 400;
}

.button--buscar {
    background: #FF385C;
    border: 0;
    outline: 0;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
    flex-shrink: 0;
    /* impede o botão de ser comprimido */
}

.button--buscar:hover {
    background: #e41d5d;
}

.buscar--2 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.natureza {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 115px;
}

.o--melhor {
    font-size: 60px;
    font-family: 'airbnb-bold';
    color: #222222;
}

.o--melhor--2 {
    font-size: 60px;
    font-family: 'airbnb-bold';
    color: #222222;
    margin-top: -20px;
}

.sugestoes {
    font-size: 18px;
    font-family: 'airbnb-light';
    margin-top: -3px;
}

.inspire {
    padding: 10px 10px;
    border: 0;
    border-radius: 13px;
    background: #222222;
    color: white;
    font-family: 'airbnb-bold';
    width: 133px;
    cursor: pointer;
    font-size: 18px;
}

.explore {
    margin-left: 130px;
    font-family: 'airbnb-bold';
    font-size: 40px;
    font-weight: 600;
    color: #222222;
}

.locais {
    height: 80px;
    padding: 10px 130px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.local--item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.imagem--local {
    flex: 1;
}


.texto--local {
    flex: 4;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.texto--local b {
    flex: 1;
    font-family: 'airbnb-bold';
    color: #222222;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: -15px;

}

.texto--local p {
    flex: 1;
    font-family: 'airbnb-light';
    color: #222222;
    font-size: 14px;
    font-weight: 400;
}

.imagem--cidade {
    border-radius: 15px;
    height: 100%;
}

.lugares {
    height: 400px;
    padding: 10px 130px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15px;
}

.lugar--item {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.lugar--item img {
    max-width: 95%;
    border-radius: 12px;
    cursor: pointer;
}

.lugar--item p {
    font-family: 'airbnb-black';
    color: #222222;
    font-size: 24px;
    margin-top: 2px;
}

.hospedar {
    padding: 10px 130px;
    height: 600px;
}

.imagem--hospedar {
    background-image: url('../assets/images/hospedar.png');
    background-size: cover;
    display: flex;
    height: 100%;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    background-position: center bottom;

}

.imagem--hospedar b {
    color: white;
    margin-left: 80px;
    font-family: 'airbnb-light';
    font-weight: 600;
    font-size: 16px;

}

.p--1 {
    font-size: 45px;
    color: white;
    margin-left: 80px;
    font-family: 'airbnb-bold';
}

.p--2 {
    font-size: 45px;
    color: white;
    margin-left: 80px;
    font-family: 'airbnb-bold';
    margin-top: -60px;

}

.b {
    margin-top: -15px;
    display: flex;
    flex-direction: column;
}

.saiba--mais {
    color: #222222;
    background: white;
    border: 0;
    padding: 23px 30px;
    font-family: 'airbnb-bold';
    width: 170px;
    margin-left: 130px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
}

.atividades {
    font-size: 40px;
    font-family: 'airbnb-light';
    color: #222222;
    font-weight: 400;
    margin-left: 130px;
    margin-top: -5px;
}

.todo--atividades {
    padding: 15px 130px;
    height: 450px;
    display: flex;
    flex-direction: row;

}

.atividade--item {
    flex: 1;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.atividade--item img {
    width: 95%;
    border-radius: 10px;
}

.atividade--item b {
    font-family: 'airbnb-light';
    color: #222222;
    font-size: 24px;
    margin-top: 10px;
    font-weight: 900;
}

.atividade--item p {
    font-family: 'airbnb-light';
    color: gray;
    font-size: 20px;
    margin-top: 2px;
}

.footer {
    height: 545px;
    background: #f7f7f7;
    border-top: 1px solid #e0e0e0;
    padding: 0px 130px;
    margin-top: 140px;
}

.menus--footer {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.footer--item {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer--item b {
    font-family: 'airbnb-light';
    color: #222222;
    font-size: 12px;
    font-weight: 2000;
    margin-bottom: 10px;
}

.footer--item p {
    color: #222222;
    font-size: 14px;
    font-family: 'airbnb-light';
    cursor: pointer;
    margin-top: 5px;
}

.footer-end {
    border-top: 1px solid #e0e0e0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
}

.footer--1 {
    flex: 2;
    font-size: 14px;
}

.footer--1 p {
    font-family: 'airbnb-light';
    color: #222222;
}

.footer--2 {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    font-size: 14px;
}

.footer--globe {
    margin-right: 15px;
    font-size: 16px !important;
}

.footer--2--item {
    font-family: 'airbnb-light';
    text-decoration: underline;
}

.currency {
    margin-left: 25px;
    margin-right: 8px;
    font-family: 'airbnb-light';
}

